<@charset "UTF-8";>

head{
  position: relative;
  padding: .25em 0 .5em .75em;
  border-left: 6px solid #3498db;
}
head::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ccc;
}


div.login {
width: 1300px; /* ボックスの幅 */
padding-bottom: 1px; /* ボックスの下パディング */
background: #ffffff url(maru1_300_bottom.gif) no-repeat bottom; /* ボックスの背景 */
font-size: 120%;
color: #000000;
box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

/* --- 見出し --- */
div.login {
margin: 0; /* 見出しのマージン */
padding: 7px 10px; /* 見出しのパディング（上下、左右） */
background: #f9f9f9 url(maru4_300_top.gif) no-repeat top; /* 見出しの背景 */
font-size: 100%; /* 見出しの文字サイズ */
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}
.message{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.message {
    margin: 0;
    padding: 0;
}

div.message {
width: 1300px; /* ボックスの幅 */
padding-bottom: 1px; /* ボックスの下パディング */
background: #ffffff url(maru1_300_bottom.gif) no-repeat bottom; /* ボックスの背景 */
font-size: 120%;
color: #000000;
}

/* --- 見出し --- */
div.message  {
margin: 0; /* 見出しのマージン */
padding: 7px 10px; /* 見出しのパディング（上下、左右） */
background: #f9f9f9 url(maru4_300_top.gif) no-repeat top; /* 見出しの背景 */
font-size: 100%; /* 見出しの文字サイズ */
}

div.comment {
width: 300px; /* ボックスの幅 */
background: #ffffff url(maru2_300_bottom.gif) no-repeat bottom; /* ボックスの背景 */
font-size: 80%;
color: #000001;
}
.signup {
width: 1300px; /* ボックスの幅 */
padding: 7px 10px; /* 見出しのパディング（上下、左右） *
padding-bottom: 1px; /* ボックスの下パディング */
background: #ffffff url(maru1_300_bottom.gif) no-repeat bottom; /* ボックスの背景 */
font-size: 120%;
color: #000000;
box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

/* --- 見出し --- */
.signup {
margin: 0; /* 見出しのマージン */
padding: 7px 10px; /* 見出しのパディング（上下、左右） */
background: #f9f9f9 url(maru4_300_top.gif) no-repeat top; /* 見出しの背景 */
font-size: 100%; /* 見出しの文字サイズ */
}
.edit_user {
width: 1300px; /* ボックスの幅 */
padding: 7px 10px; /* 見出しのパディング（上下、左右） *
padding-bottom: 1px; /* ボックスの下パディング */
background: #ffffff url(maru1_300_bottom.gif) no-repeat bottom; /* ボックスの背景 */
font-size: 130%;
color: #000000;
box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

/* --- 見出し --- */
.edit_user {
margin: 0; /* 見出しのマージン */
padding: 7px 10px; /* 見出しのパディング（上下、左右） */
background: #f9f9f9 url(maru4_300_top.gif) no-repeat top; /* 見出しの背景 */
font-size: 120%; /* 見出しの文字サイズ */
}

.message {
width: 1300px; /* ボックスの幅 */
padding: 7px 10px; /* 見出しのパディング（上下、左右） *
padding-bottom: 1px; /* ボックスの下パディング */
background: #ffffff url(maru1_300_bottom.gif) no-repeat bottom; /* ボックスの背景 */
font-size: 130%;
color: #000000;
box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

/* --- 見出し --- */
.message {
margin: 0; /* 見出しのマージン */
padding: 7px 10px; /* 見出しのパディング（上下、左右） */
background: #f9f9f9 url(maru4_300_top.gif) no-repeat top; /* 見出しの背景 */
font-size: 120%; /* 見出しの文字サイズ */
}

div.user_controll {
width: 1300px; /* ボックスの幅 */
padding: 7px 10px; /* 見出しのパディング（上下、左右） *
padding-bottom: 1px; /* ボックスの下パディング */
background: #f9f9f9 url(maru1_300_bottom.gif) no-repeat bottom; /* ボックスの背景 */
font-size: 120%;
color: #000000;
box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);

}


div.user_controll  {
margin: 0; /* 見出しのマージン */
padding: 7px 10px; /* 見出しのパディング（上下、左右） */

font-size: 110%; /* 見出しの文字サイズ */
}



